h1 {
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;
  
  
}

body {
  background-color:#F5DD90;
}
img {
  border: 5px solid gold;
  border-radius: 110px;
  width: 25%
}

img:hover {
  width: 35%;
  border: 
}
nav{
  list-style-type:none;
  background-color:#5DFFB1;
  position:fixed;
  width: 100vw;
    top:0;
    left:0;
    color:#62B6CB;
  padding:15px;
  font-size: 20px;
  text-align:left;
    
}

li {
  display: inline;
  padding:25px;
}
body {
  background-color:#F5DD90;
}
li:hover {
  background:lightblue;
}
a {
  text-decoration:none;
  color:#62B6CB
}

h1 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;
  
}

h2 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;

}

body {
  background-color:#F5DD90;
}

li {
  display: inline;
  padding:25px;
}
li:hover {
  background:lightblue;
}
a {
  text-decoration:none;
  color:#62B6CB
}
h1 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;
  
}

h2 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;

}

body {
  background-color:#F5DD90;
}

li {
  display: inline;
  padding:25px;
}
li:hover {
  background:lightblue;
}
a {
  text-decoration:none;
  color:#62B6CB
}
h1 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;
  
}

h2 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;

}

body {
  background-color:#F5DD90;
}

li {
  display: inline;
  padding:25px;
}
li:hover {
  background:lightblue;
}
a {
  text-decoration:none;
  color:#62B6CB
}
h1 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;
  
}
iframe {
  height:1000px;
  width:1400px;
}

h2 {
  font-size:50px;
  color:#62B6CB;
  text-align: center;
  text-shadow: 2px 2px 6px gold;

}

body {
  background-color:#F5DD90;

}
    
}

li {
  display: inline;
  padding:25px;
}
li:hover {
  background:lightblue;
}
a {
  text-decoration:none;
  color:#62B6CB
}
