h1 {
  color:#391463;
  text-align: center;
  text-shadow: 2px 2px 6px #DD4BF3;
  padding: 20px;
  font-size: 60px;
}

img {
  border: 5px solid purple;
  border-radius: 35px;
  width: 25%
}

img:hover {
  width: 30%;
}
nav{
  list-style-type:none;
  background-color:#391463;
  position:fixed;
  width: 100vw;
    top:0;
    left:0;
  color: #1DCBDF;
  padding:24px;
  font-size: 20px;
  text-align:left;
    
}

li {
  display: inline;
  padding:25px;
}
body {
  background-color:#272923;
}
li:hover {
  background:#683A9D;
}
a {
  text-decoration:none;
  color:#1DCBDF
}

p{
  text-align: left;
  color:white;
  padding:40px;
  font-size:20px;
  width: 500px;
  height:500px;
}


iframe {
  height:1000px;
  width:1400px;
}
